

#masterDiv{
    /* color: green; */
    margin-top: 3%;
}



.buttonColumnDiv{
    /* background-color: blue; */

    width: 15%;
    margin: 0px 0px 0px 50px;
    border: 5px;
    border-style: solid;

    display: inline-block;
    height: 700px;
}


.mainNavButtons{
    padding: 10px 10px;
    /* margin: 10px 10px; */
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

#settingsButton{
    background-color: rgb(250,215,172);
}

#mainDisplayButton{
    background-color: rgb(177,221,240);
}

#settingsGear{
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

#modeText{
  font-size: 40px; 
  margin-left: 10px;
  /* top: 50%; */
}

#modeBarDiv{
    background-color: rgb(177,221,240);
    width: 80%;
    height: 65px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 20px;
    border-style: solid;
    border-radius: 3px;
    border-color: rgba(70, 103, 117, 0.575);
    width: 1000px;
    /* text-align: center; */
}

#selectModeButton{
    /* align-content: center; */
    align-items: right;
    float: right;
    margin: 10px 10px;
}

#mainDisplayDiv{
    background-color: rgb(255, 137, 137);
    /* width: 600px; */
    /* height: 65px; */
    display: inline-block;
    /* vertical-align: top; */
    font-weight: bold;
    font-size: 20px;
    /* display: inline; */
    width: 100%;
    height: 635px;
}

#rightOfButtonsDiv{
    display: inline-block;
    width: 1000px;
    vertical-align: top;

}

#userSettingsDiv{
    background-color:rgb(255, 137, 137);
    /* width: 600px; */
    /* height: 65px; */
    display: none;
    /* vertical-align: top; */
    font-weight: bold;
    font-size: 20px;
    /* display: inline; */
    width: 100%;
    height: 635px;
}

#rvizScreenshot{
  height: 600px;
  /* width: 750px; */
  padding-left: 10%;
  padding-top: 5%;
}

#selectLocationDiv{
    background-color: rgb(240, 177, 177);
    /* width: 600px; */
    /* height: 65px; */
    display: none;
    /* vertical-align: top; */
    font-weight: bold;
    font-size: 20px;
    /* display: inline; */
    width: 100%;
    height: 635px;
}

.settingsDiv{
    margin: 14px 4px;
    align-content: center;
    vertical-align: center;
}


/* Switch starts here */
/* .rocker {
    display: inline-block;
    position: relative;
    
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;
  }
  
  .rocker-small {
    font-size: 0.75em; /* Sizes the switch 
    margin: 1em;
  }
  
  .rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
  }
  
  .rocker input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch-left,
  .switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
  }
  
  .switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
  }
  
  .switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #bd5757;
    color: #fff;
  }
  
  .switch-left::before,
  .switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
  }
  
  .switch-left::before {
    left: -0.4em;
  }
  
  .switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
  }
  
  input:checked + .switch-left {
    background-color: #0084d0;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
  }
  
  input:checked + .switch-left::before {
    background-color: transparent;
    width: 3.0833em;
  }
  
  input:checked + .switch-left + .switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
  }
  
  input:checked + .switch-left + .switch-right::before {
    background-color: #ccc;
  }
  
  /* Keyboard Users 
  input:focus + .switch-left {
    color: #333;
  }
  
  input:checked:focus + .switch-left {
    color: #fff;
  }
  
  input:focus + .switch-left + .switch-right {
    color: #fff;
  }
  
  input:checked:focus + .switch-left + .switch-right {
    color: #333;
  } */

  #body{
    background-color: rgb(250, 250, 250);
  }